<div data-ng-controller="RepliesController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">REPLY</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <!--<li class="page-scroll">
                        <a href="https://github.com/Hitman666/MEAN_MVC_4thTutorial">Fork on Github</a>
                    </li>-->
                    <li class="page-scroll">
                        <a href="/#!/replies">REPLIES</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section class="container">
        <h1>New Reply</h1>
        <form class="form-signin" data-ng-submit="create()" novalidate>
            <div>
                <label for="firstName" class="sr-only">First Name</label>
                <div>
                    <input type="text" data-ng-model="firstName" id="firstName" placeholder="First Name" required autofocus class="form-control">
                </div>
            </div>

            <div>
                <label for="lastName" class="sr-only">Last Name</label>
                <div>
                    <input type="text" data-ng-model="lastName" id="lastName" placeholder="First Name" required autofocus class="form-control">
                </div>
            </div>

            <div>
                <label for="email" class="sr-only">Email</label>
                <div>
                    <input type="text" data-ng-model="email" id="email" placeholder="Email" required autofocus class="form-control">
                </div>
            </div>

            <div>
                <label for="comments" class="sr-only">Comments</label>
                <div>
                    <textarea data-ng-model="comments" id="comments" cols="30" rows="10" placeholder="Comments" class="form-control"></textarea>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Create REPLY</button>
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </section>
</div>