@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

html {
    font-family: sans-serif;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: none;
}

th {
	padding: 15px;
}

td {
	padding: 15px;
}

ul {
    list-style-type: none;
}

button, input, select, textarea {
  background-color: inherit;
  border: solid;
  border-color: inherit;
  border-width: 1px;
  font-family : inherit;
  font-size   : 100%;
}

.portfolio-item {
    margin-bottom: 50px;
}