<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Hugh Han">

  <title><%= title %></title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/grayscale.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <i class="fa fa-play-circle"></i>  <span class="light">Hugh</span> Han
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"><a href="#page-top"></a></li>
          <li><a class="page-scroll" href="#about">About</a></li>
          <li><a class="page-scroll" href="#skills">skills</a></li>
          <li><a class="page-scroll" href="#contact">Contact</a></li>
          <li><a class="page-scroll" href="/photos#photos">Photos</a></li>
          <li><a class="page-scroll" href="/replies#reply">Reply</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Hugh Han</h1>
            <p class="intro-text">Student, developer, and photographer.</p>
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>About Me</h2>
        <p>I am a second-year undergraduate studying computer science and applied mathematics at the <a href="jhu.edu">Johns Hopkins University</a>. This is just sample text to take up space. The purpose of this sample text is to test this div and see how big it is and if it resizes.</p>
        <p>This is a new paragraph with some new sample text.</p>
      </div>
    </div>
  </section>

  <!-- Skills Section -->
  <section id="skills" class="content-section text-center">
    <div class="skills-section">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Skills</h2>
          <p>I have the most experience with C/C++ and Java.</p>
          <p>I have working knowledge of JavaScript, PHP, and MongoDB.</p>
          <p>I have had exposure to Python, NodeJS, AngularJS, and Bootstrap.</p>
          <h4>Relevant Coursework</h4>
          <p>Computer Science: Data Structures, Algorithms, Computer Systems.</p>
          <p>Mathematics: Discrete Math, Probability, Linear Algebra, Multivariable Calculus.</p>
          <h4>Projects</h4>
          <p>Feel free to check out my GitHub profile below to see some of my past projects.</p>
          <a href="http://github.com/hughhan1/" class="btn btn-default btn-lg">Visit GitHub Page</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact Me</h2>
        <p>Feel free to send me an email or connect with me via social media.</p>
        <p><a href="mailto:hughhan1@gmail.com">hughhan1@gmail.com</a>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/MistaHuHan" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name"> Twitter</span></a>
          </li>
          <li>
            <a href="https://facebook.com/MountainHew" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i><span class="network-name"> Facebook</span></a>
          </li>
          <li>
            <a href="https://linkedin.com/in/hughhan" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square"></i><span class="network-name"> LinkedIn</span></a>
          </li>
        </ul>
      </div>
    </div>
  </section>

	<br><br>

	<% if (typeof name !== 'undefined') { %>
		<p>Thanks, <%= name %>. Your reply has been received.</p>
	<% } %>

  <div id="map"></div>

  <footer>
    <div class="container text-center">
      <p>Copyright &copy; Hugh Han 2015</p>
    </div>
  </footer>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/js/grayscale.js"></script>

  <script type="text/javascript" src="/js/angular/angular.js"></script>
  <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

  <script type="text/javascript" src="/photos/photos.client.module.js"></script>
  <script type="text/javascript" src="/photos/controllers/photos.client.controller.js"></script>
  <script type="text/javascript" src="/photos/services/photos.client.service.js"></script>
  <script type="text/javascript" src="/photos/config/photos.client.routes.js"></script>

  <script type="text/javascript" src="/replies/replies.client.module.js"></script>
  <script type="text/javascript" src="/replies/controllers/replies.client.controller.js"></script>
  <script type="text/javascript" src="/replies/services/replies.client.service.js"></script>
  <script type="text/javascript" src="/replies/config/replies.client.routes.js"></script>

  <script type="text/javascript" src="/example/example.client.module.js"></script>
  <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
  <script type="text/javascript" src="/example/config/example.client.routes.js"></script>

  <script type="text/javascript" src="/application.js"></script>
</body>
</html>
