<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %></h1>
  	<a href="/register">Register</a>
 		<a href="/login">Login</a>
 		<a href="/photos">Photos</a>
 		<a href="/reply">Reply</a>
</body>
</html>
